
.intro{
    text-align: center;
    color:white;
    font-size: 30px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom:0px;
    color:#9986BD
}
.name {
    text-align: center;
    color:white;
    font-size: 100px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom:0px;
    margin-top:0px;

}
.profession{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top:10px
}
body{
    margin:0;
}
.parallax {
    background-image: url("../images/front page1.jpg");
    width:100%;
    height:100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}
.centered{
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%)
}

.aboutInfo{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:50px;
    text-align: center;
    margin-top:15px;
    font-weight: bold;
    color:#9986BD;


}
.profile{
    display:block;
    width:300px;
    float:right;
    

}
.profileParagraphHeader{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    border-bottom: solid;
    border-color:#A6D9F7;
    width:400px;
}
.profileParagraph{
    color:black;
    max-width:400px;
    font-size:20px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    

}
.row{
    margin-top:5%;
}